name: CI/CD Pipeline

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        default: 'production'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'

    - name: Install Dependencies
      run: npm install

    - name: Run Tests
      run: npm test

    - name: Build Application
      run: npm run build

    - name: Authenticate with Azure
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}

    - name: Deploy to Azure App Service
      run: |
        RESOURCE_GROUP="rg_iop"
        APP_NAME="peribank-mobile"
        ZIP_FILE="app.zip"

        # Creating the zip file
        zip -r $ZIP_FILE .

        # Deploying
        az webapp deployment source config-zip \
          --resource-group $RESOURCE_GROUP \
          --name $APP_NAME \
          --subscription ${{ secrets.AZURE_SUBSCRIPTION_ID }} \
          --src $ZIP_FILE

    - name: Post-Deployment Verification
      run: |
        az webapp show --name peribank-mobile --resource-group rg_iop --subscription ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        curl -f https://${{ secrets.AZURE_SUBSCRIPTION_ID }}.azurewebsites.net || exit 1